@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-image: url(./Assets/BG.jpg);
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS for header and footer */

.nav-bar {
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(147, 147, 147, 0.1);
  backdrop-filter: blur(8px);
}

.list {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.list-items a {
  text-decoration: none;
  color: white;
}

.footer {
  padding: 10px 20px;
}

/* CSS for find section */

.find {
  padding: 40px 40px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}

#showMovies {
  background-color: #460700;
  color: white;
  height: 36px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
